{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/formulario.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/comprobante.css"/>
<script type="text/javascript"
        src="{{ .hosting }}static/js/jspanel.js"></script>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/autocomplete.css"/>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<script src="{{ .hosting }}static/js/cleave.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <br>
                <h3 class="" style="color: white; background-color: #21B799; width: 270px; text-align: center; border-radius: 3px">Borrar Comprobante</h3>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home"
                         role="tabpanel" aria-labelledby="home-tab">
                        <form id="formulario" method="POST"
                              action="/ComprobanteEliminar/{{ .comprobante.Documento }}/{{ .comprobante.Numero }}">
                            <div class="form-group row mb-0">
                                <label class="col-sm-2 col-form-label">Comprobante
                                    No.</label>
                                <div class="col-sm-4">
                                    <div class="md-form mt-0">
                                        <select name="Documento"
                                                id="Documento"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar..." disabled>
                                            {{ range .documento }}
                                            <option value="{{ .Codigo }}">{{ .Codigo }} - {{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Cuenta</label>
                                <div class="col-sm-5">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Cuenta"
                                               id="Cuenta"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-2 col-form-label">Numero
                                    Documento</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Numero"
                                               id="Numero"
                                               class="form-control" readonly/>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                </div>
                                <label class="col-sm-1 col-form-label">Tercero</label>
                                <div class="col-sm-5">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Tercero"
                                               id="Tercero"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-2 col-form-label">Fecha
                                    Documento</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               placeholder="DD/mm/YYYY"
                                               name="Fecha"
                                               id="Fecha"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                </div>
                                <label class="col-sm-1 col-form-label">Centro</label>
                                <div class="col-sm-5">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Centro"
                                               id="Centro"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-2 col-form-label">Fecha
                                    Consignacion</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               name="Fechaconsignacion"
                                               id="Fechaconsignacion"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row mb-0">
                                <table id="tabla"
                                       class="table table-borderless table-sm"
                                       cellspacing="0" width="100%">
                                    <thead class="border black-text">
                                    <tr style="color: white;background-color: #21B799; height: 33px">
                                        <th style="color: white;background-color: #21B799; height: 33px"></th>
                                        <th ></th>
                                        <th >No</th>
                                        <th >Cuenta</th>
                                        <th >Tercero</th>
                                        <th >Centro</th>
                                        <th >Concepto</th>
                                        <th >Documento</th>
                                        <th style="text-align: center">Debito</th>
                                        <th style="text-align: center">Credito</th>
                                        <th ></th>
                                        <th ></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                    <tr >
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td ></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr >
                                        <td></td>
                                        <td></td>
                                        <td><input style="width:50px"type="text"
                                                   id="Items"
                                                   class="inputItem"/></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="mt-5">Totales</td>
                                        <td><input style="width: 150px" type="text"
                                                   class="inputNumero" id="TotalDebito"  /></td>
                                        <td><input style="width: 150px" type="text"
                                                   id="TotalCredito"
                                                   class="inputNumero"/></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><input style="width: 150px;color:#E74C3C"
                                                   type="text" class="inputNumero"
                                                   id="DiferenciaDebito" /></td>
                                        <td>
                                            <input style="width: 150px;color: #E74C3C" type="text"
                                                   id="DiferenciaCredito"
                                                   class="inputNumero"/>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tfoot>
                                </table>
                                 <!--TABLA RESULTADO&ndash;&gt;-->
                            </div>
                            <br>
                            <div class="form-group row mb-0">
                                <div class="col-sm-12">
                                    <a onclick="window.history.go(-1); return false;"
                                       class="btn btn-outline-dark waves-effect btn-md float-right">Cancelar </a>
                                    <button type="submit"
                                            class="btn btn-outline-success waves-effect btn-md float-right">
                                        Borrar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    INICIA NUEVO TERCERO-->

<input id="TerceroNuevo"
       type="hidden"/>
<input id="CuentaNuevo"
       type="hidden"/>
<input id="CentroNuevo"
       type="hidden"/>
<script src="{{ .hosting }}static/js/comprobante.js"></script>
<!--    TERMINA NUEVO TERCERO-->

<!--    TERMINA NUEVO TERCERO-->

{{template "comprobantescript" }}
{{template "autocompletaPlandecuentaempresa" }}
{{template "autocompletaTercero" }}
{{template "autocompletaCentro" }}
<script>

    $(document).ready(function () {
        $('#Documento').materialSelect({});

        // llenar valores
        $("#Documento").val('{{ .comprobante.Documento }}');
        $("#Numero").val('{{ .comprobante.Numero }}');
        $("#Fecha").val('{{ .comprobante.Fecha.Format "2006-01-02"}}');
        $("#Fechaconsignacion").val('{{ .comprobante.Fechaconsignacion.Format "2006-01-02"}}');
        $('#Fecha').focus();

        // llenar detalle
        cont = 1;
        {{range .detalle}}

        agregar();
        $('#seleccion_cuenta' + cont).val('{{ .Cuenta }}');
        $('#seleccion_tercero' + cont).val('{{ .Tercero }}');
        $('#seleccion_centro' + cont).val('{{ .Centro }}');
        $('#concepto' + cont).val('{{ .Concepto }}');
        $('#factura' + cont).val('{{ .Factura }}');
        $('#Debito' + cont).val(formatomoneda('{{ .Debito }}'));
        $('#Credito' + cont).val(formatomoneda('{{ .Credito }}'));
        $('#Debito' + cont).attr('disabled', 'disabled');
        $('#Credito' + cont).attr('disabled', 'disabled');
        nombreCuenta('{{ .Cuenta }}',"#Cuenta");
        nombreTercero('{{ .Tercero }}',"#Tercero");
        nombreCentro('{{ .Centro }}',"#Centro");
        cont++;

        {{ end }}
        totales();

        // $('#terceroCodigo').materialSelect({});
    });

</script>
{{end}}


