{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/formulario.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/ventaservicio.css"/>
<script type="text/javascript"
        src="{{ .hosting }}static/js/jspanel.js"></script>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/autocomplete.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/ribbons.css"/>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<script src="{{ .hosting }}static/js/cleave.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <br>
                <a class="ribbon ribbon-top-right ribbon-amarillo ribbon-md" href="">CONTABILIZADO</a>
                <h3 class="" style="color: white; background-color: #21B799; width: 270px; text-align: center; border-radius: 3px">Editar Venta Servicio</h3>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home"
                         role="tabpanel" aria-labelledby="home-tab">
                        <form id="formulario" method="POST"
                              action="VentaservicioActualizar/{{ .emp.Codigo }}">
                            <div class="form-group row mb-0">
                                <label class="col-sm-2 col-form-label">Resolucion
                                    No.</label>
                                <div class="col-sm-6">
                                    <div class="md-form mt-0">
                                        <select name="Resolucionventa"
                                                id="Resolucionventa"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            {{ range .resolucionventa }}
                                            <option value="{{ .Codigo }}">{{ .Numero }}-{{ .Prefijo }}-{{ .Tipo }}-{{ .Local }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Factura No.</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Codigo"
                                               id="Codigo"
                                               class="form-control"
                                               readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Cotizacion
                                    No.</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Cotizacionservicio"
                                               id="Cotizacionservicio"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Fecha</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               placeholder="DD/mm/YYYY"
                                               name="Fecha"
                                               id="Fecha"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Forma
                                    de Pago</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="FormaDePago"
                                                id="FormaDePago"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .formadepago }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Fecha
                                    Vence</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               name="Vence"
                                               id="Vence"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Medio de Pago</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="MedioDePago"
                                                id="MedioDePago"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .mediodepago }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Vendedor</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="Vendedor"
                                                id="Vendedor"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .vendedor }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Centro</label>
                                <div class="col-sm-1">
                                    <div class="md-form mt-0">
                                        <select name="Centro"
                                                id="Centro"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .centro }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Cliente</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroCodigo"
                                               class="form-control text-left"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Nombre</label>
                                <div class="col-sm-4">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroNombre"
                                               class="form-control"
                                               disabled>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Direccion</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroDireccion"
                                               class="form-control"
                                               disabled>
                                    </div>
                                </div>
                           </div>
                            <br>
                            <div class="form-group row mb-0">
                                <table id="tabla"
                                       class="table table-borderless table-sm"
                                       cellspacing="0" width="100%">
                                    <thead class="border black-text">
                                    <tr style="color: white;background-color: #21B799 ; height: 35px">
                                        <th style="color: white;background-color: #21B799 ; height: 35px"></th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Producto</th>
                                        <th>Descripcion</th>
                                        <th>Unidad</th>
                                        <th>Iva</th>
                                        <th style="color: #21B799">Desc.</th>
                                        <th style="padding-left: 60px">Cantidad</th>
                                        <th style="padding-left: 40px">Vr. Unitario</th>
                                        <th style="padding-left: 85px">Total</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                               </table>
                            </div>
                            <input type="hidden" id="Subtotal19" />
                            <input type="hidden" id="Subtotal5" />
                            <input type="hidden" id="Subtotal0" />
                            <input type="hidden" id="SubtotalDescuento19" />
                            <input type="hidden" id="SubtotalDescuento5" />
                            <input type="hidden" id="SubtotalDescuento0" />
                            <br>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Base
                                    19%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="SubtotalBase19"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Base
                                    5%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="SubtotalBase5"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Base
                                    0%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="SubtotalBase0"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Subtotal</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="Subtotal"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Iva
                                    19%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="SubtotalIva19"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Iva
                                    5%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="SubtotalIva5"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Descuento</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="Descuento"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Total
                                    Iva</label>
                                <div class="col-sm-2 ">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="TotalIva"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-sm-3">
                                </div>
                                <label class="col-sm-1 col-form-label">Total
                                    Items</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="Items"
                                               class="form-control text-right"
                                               readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Autoret 2201</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="Ret2201"
                                               class="form-control text-right"
                                               readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Total
                                    Neto</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="Neto"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row mb-0" style="margin-right: 30px">
                                <div class="col-sm-12">
                                    <a href="/VentaservicioLista"
                                       class="btn btn-outline-dark waves-effect btn-md float-right">Cancelar </a>
                                    <button type="button"
                                            onclick="guardar('Actualizar')"
                                            class="btn btn-outline-success waves-effect btn-md float-right">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   INICIA NUEVO TERCERO-->
<input id="terceroNuevo"
       type="hidden"/>
<input id="productoNuevo"
       type="hidden"/>
<input id="Total"
       type="hidden"/>
<input id="Ventaserviciotipoiva" value="{{ .ventaserviciotipoiva }}"
       type="hidden"/>
<input id="autoret2201" value="{{ .autoret2201 }}"
       type="hidden"/>

<script src="{{ .hosting }}static/js/ventaservicio.js"></script>

{{template "ventaservicioscript" }}

<script>
    $(document).ready(function () {

        // INICIA CREAR DUPLICADO CON F2
        $(document).on('keyup', '#Fecha', function (e) {
            //   e.preventDefault();
            var code = e.keyCode || e.which;

            if (e.which == 113) {
                // alert("F2");

                document.location.href = '/VentaservicioNuevo/'+ $("#Codigo").val();
            }
        });
        // TERMINA CREAR DUPLICADO CON F2

        // INICIA AUTOCOMPLETADO
        autocompletaTercero('#terceroCodigo');

        // INICIA FOCUS
        $('#Fecha').focus();

        // INICIA SELECT
        $('#terceroFiscal').materialSelect({});
        $('#FormaDePago').materialSelect({});
        $('#MedioDePago').materialSelect({});
        $('#Vendedor').materialSelect({});
        $('#Resolucionventa').materialSelect({});
        $('#Centro').materialSelect({});

        // llenar valores
        $("#Codigo").val('{{ .ventaservicio.Codigo }}');
        $("#Fecha").val('{{ .ventaservicio.Fecha.Format "2006-01-02"}}');
        $("#Vence").val('{{ .ventaservicio.Vence.Format "2006-01-02"}}');
        $("#Plazo").val('');
        $("#terceroCodigo").val('{{ .ventaservicio.Tercero }}');
        $("#terceroDv").val('{{ .tercero.Dv }}');
        $("#terceroNombre").val('{{ .tercero.Nombre }}');
        $("#terceroDireccion").val('{{ .tercero.Direccion }}');
        $("#terceroTelefono1").val('{{ .tercero.Telefono1 }}');
        $("#terceroEmail1").val('{{ .tercero.Email1 }}');
        $('#Subtotal').val('{{ .ventaservicio.Subtotal }}');
        $('#Descuento').val('{{ .ventaservicio.Descuento}}');
        $('#SubtotalIva19').val('{{ .ventaservicio.Subtotaliva19 }}');
        $('#SubtotalIva5').val('{{ .ventaservicio.Subtotaliva5 }}');
        $('#SubtotalBase19').val('{{ .ventaservicio.Subtotalbase19 }}');
        $('#SubtotalBase5').val('{{ .ventaservicio.Subtotalbase5 }}');
        $('#SubtotalBase0').val('{{ .ventaservicio.Subtotalbase0 }}');
        $('#Total').val('{{.ventaservicio.Total }}');
        $('#Neto').val('{{ .ventaservicio.Neto }}');
        $('#FormaDePago').val('{{ .ventaservicio.Formadepago}}');
        $('#MedioDePago').val('{{ .ventaservicio.Mediodepago}}');
        $('#Vendedor').val('{{ .ventaservicio.Vendedor}}');
        $('#Resolucionventa').val('{{ .ventaservicio.Resolucionventa}}');
        $('#Cotizacionservicio').val('{{ .ventaservicio.Cotizacionservicio}}');
        $('#Centro').val('{{ .ventaservicio.Centro}}');

        // llenar detalle
        cont = 1;

        {{ range .detalle }}
        agregar();
        $('#seleccion_producto' + cont).val('{{ .Codigoservicio }}');
        $('#nombre' + cont).val('{{ .Nombreservicio }}');
        $('#unidad' + cont).val('{{ .Unidadservicio }}');
        $('#iva' + cont).val('{{ .Ivaservicio }}');
        $('#descuento' + cont).val('{{ .Descuento }}');
        $('#cantidad' + cont).val('{{ .Cantidad }}');
        $('#valor' + cont).val('{{ .Precio }}');

        cont++;

        {{ end }}
        totales();

    });

</script>

{{end}}
