{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/formulario.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/ventaservicio.css"/>
<script type="text/javascript"
        src="{{ .hosting }}static/js/jspanel.js"></script>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/autocomplete.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/ribbons.css"/>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<script src="{{ .hosting }}static/js/cleave.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <!--             INICIA AVISO CODIGO YA EXISTE-->
        <div class="form-group row mb-0">
            <div class="col-sm-3">
                <div class="md-form mt-0">
                    <div id="aviso"
                         class="alert alert-success alert-dismissible"
                         role="alert">
                        <p id="textoaviso">Cargando...</p>
                        <button
                                type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--            TERMINA AVISO CODIGO YA EXISTE-->
        <div class="card">
            <div class="card-body">
                <a class="ribbon ribbon-top-right ribbon-amarillo ribbon-md" href="">CONTABILIZADO</a>
                <h3 class="" class="" style="color: white; background-color: #21B799; width: 200px; text-align: center; border-radius: 3px">Nueva Venta Servicio</h3>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home"
                         role="tabpanel" aria-labelledby="home-tab">
                        <form id="formulario" method="POST"
                              action="/VentaservicioAgregar">
                             <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Resolucion No.</label>
                                <div class="col-sm-10">
                                    <div class="md-form mt-0">
                                        <select name="Resolucionventa"
                                                id="Resolucionventa"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            {{ range .resolucionventa }}
                                            <option value="{{ .Codigo }}">{{ .Numero }}-{{ .Prefijo }}-{{ .Tipo }}-{{ .Local }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Factura No.</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Codigo"
                                               id="Codigo"
                                               class="form-control"
                                               readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Cotizacion No.</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Cotizacionservicio"
                                               id="Cotizacionservicio"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Fecha</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               placeholder="DD/mm/YYYY"
                                               name="Fecha"
                                               id="Fecha"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Forma
                                    de Pago</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="FormaDePago"
                                                id="FormaDePago"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .formadepago }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Fecha
                                    Vence</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               name="Vence"
                                               id="Vence"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Medio de Pago</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="MedioDePago"
                                                id="MedioDePago"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .mediodepago }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Vendedor</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="Vendedor"
                                                id="Vendedor"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .vendedor }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Centro</label>
                                <div class="col-sm-1">
                                    <div class="md-form mt-0">
                                        <select name="Centro"
                                                id="Centro"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .centro }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Cliente</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroCodigo"
                                               class="form-control text-left"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Nombre</label>
                                <div class="col-sm-4">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroNombre"
                                               class="form-control"
                                               disabled>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Direccion</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroDireccion"
                                               class="form-control"
                                               disabled>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row mb-0">
                                <table id="tabla"
                                       class="table table-borderless table-sm"
                                       cellspacing="0" width="100%">
                                    <thead class="border black-text">
                                    <tr style="color: white;background-color: #21B799 ; height: 35px">
                                        <th style="color: white;background-color: #21B799 ; height: 35px"></th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Producto</th>
                                        <th>Descripcion</th>
                                        <th>Unidad</th>
                                        <th>Iva</th>
                                        <th style="color: #21B799">Desc.</th>
                                        <th style="padding-left: 60px">Cantidad</th>
                                        <th style="padding-left: 40px">Vr. Unitario</th>
                                        <th style="padding-left: 85px">Total</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <input type="hidden" id="Subtotal19" />
                            <input type="hidden" id="Subtotal5" />
                            <input type="hidden" id="Subtotal0" />
                            <input type="hidden" id="SubtotalDescuento19" />
                            <input type="hidden" id="SubtotalDescuento5" />
                            <input type="hidden" id="SubtotalDescuento0" />
                            <br>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Base
                                    19%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="SubtotalBase19"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Base
                                    5%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="SubtotalBase5"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Base
                                    0%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="SubtotalBase0"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Subtotal</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="Subtotal"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Iva
                                    19%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="SubtotalIva19"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Iva
                                    5%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="SubtotalIva5"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Descuento</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="Descuento"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Total
                                    Iva</label>
                                <div class="col-sm-2 ">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="TotalIva"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-sm-3">
                                </div>
                                <label class="col-sm-1 col-form-label">Total
                                    Items</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="Items"
                                               class="form-control text-right"
                                               readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Autoret. 2201</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="Ret2201"
                                               class="form-control text-right"
                                               readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Total
                                    Neto</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 45px">
                                        <input type="text"
                                               id="Neto"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row mb-0" style="margin-right: 30px">
                                <div class="col-sm-12">
                                    <a href="/VentaservicioLista"
                                       class="btn btn-outline-dark waves-effect btn-md float-right">Cancelar </a>
                                    <button type="button"
                                            onclick="guardar('Nuevo')"
                                            class="btn btn-outline-success waves-effect btn-md float-right">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   INICIA NUEVO TERCERO-->
<input id="terceroNuevo"
       type="hidden"/>
<input id="productoNuevo"
       type="hidden"/>
<input id="BodegaNuevo" value=""
       type="hidden"/>
<input id="Total"
       type="hidden"/>
<input id="Ventaserviciotipoiva" value="{{ .ventaserviciotipoiva }}"
       type="hidden"/>
<input id="autoret2201" value="{{ .autoret2201 }}"
       type="hidden"/>

<script src="{{ .hosting }}static/js/ventaservicio.js"></script>

{{template "ventaservicioscript" }}

<script>
    $(document).ready(function () {
        // INICIA MASCARA
        $("#Subtotal").mask('000.000.000.000.000', {reverse: true});

        // INICIA FECHA
        var m = moment().format("YYYY-MM-DD");
        $("#Fecha").val(m);
        $("#Vence").val(m);

        // INICIA CODIGO  YA EXISTE
        $("#Codigo").focus();
        $("#aviso").hide();
        $("#guardar").prop("disabled", false);
       // $("#guardar").prop("disabled", true);
        $("#Codigo111").keyup(function () {
            codigo = $("#Codigo").val().replace(" ", "_").toUpperCase();
            $("#Codigo").val(codigo);
            if ($("#Codigo").val().length > 0) {
                console.log("Handler for .keyup() called." + $("#Codigo").val());
                $.ajax({
                    url: "/VentaservicioExiste/" + $("#Codigo").val(),
                    type: "GET",
                    dataType: "json",
                    async: false,
                    success: function (respuesta) {
                        if (respuesta.result == true) {
                            console.log(respuesta.result);
                            $("#textoaviso").html("El Numero Ya Existe");
                            $("#aviso").show();
                            $("#guardar").prop("disabled", true);
                        } else {
                            console.log(respuesta.result);
                            $("#aviso").hide();
                            $("#guardar").prop("disabled", false);
                        }
                    },
                });
            }
        });

        // INICIA AUTOCOMPLETADO
        autocompletaTercero('#terceroCodigo');

        // INICIA FOCUS
        $('#Cotizacionservicio').focus();
        // TERMINA FOCUS

        // INICIA SELECT
        $('#terceroFiscal').materialSelect({});
        $('#FormaDePago').materialSelect({});
        $('#MedioDePago').materialSelect({});
        $('#Vendedor').materialSelect({});
        $('#Resolucionventa').materialSelect({});
        $('#Centro').materialSelect({});

        // DATOS INICIALES
        $('#FormaDePago').val("1");
        $('#MedioDePago').val("10");

        // TRAE DATOS DE EDITAR
        if ("{{ .codigo }}"=="False"){
            agregar();
        } else {
        // llenar valores
        $("#Fecha").val('{{ .ventaservicio.Fecha.Format "2006-01-02"}}');
        $("#Vence").val('{{ .ventaservicio.Vence.Format "2006-01-02"}}');
        $("#Plazo").val('');
        $("#terceroCodigo").val('{{ .ventaservicio.Tercero }}');
        $("#terceroDv").val('{{ .tercero.Dv }}');
        $("#terceroNombre").val('{{ .tercero.Nombre }}');
        $("#terceroDireccion").val('{{ .tercero.Direccion }}');
        $("#terceroTelefono1").val('{{ .tercero.Telefono1 }}');
        $("#terceroEmail1").val('{{ .tercero.Email1 }}');
        $('#Subtotal').val('{{ .ventaservicio.Subtotal }}');
        $('#Descuento').val('{{ .ventaservicio.Descuento}}');
        $('#SubtotalIva19').val('{{ .ventaservicio.Subtotaliva19 }}');
        $('#SubtotalIva5').val('{{ .ventaservicio.Subtotaliva5 }}');
        $('#SubtotalBase19').val('{{ .ventaservicio.Subtotalbase19 }}');
        $('#SubtotalBase5').val('{{ .ventaservicio.Subtotalbase5 }}');
        $('#SubtotalBase0').val('{{ .ventaservicio.Subtotalbase0 }}');
        $('#Total').val('{{.ventaservicio.Total }}');
        $('#Neto').val('{{ .ventaservicio.Neto }}');
        $('#FormaDePago').val('{{ .ventaservicio.Formadepago}}');
        $('#MedioDePago').val('{{ .ventaservicio.Mediodepago}}');
        $('#Vendedor').val('{{ .ventaservicio.Vendedor}}');
        $('#Resolucionventa').val('{{ .ventaservicio.Resolucionventa}}');
        $('#Cotizacionservicio').val('{{ .ventaservicio.Cotizacionservicio}}');
        $('#Centro').val('{{ .ventaservicio.Centro}}');

        // llenar detalle
        cont = 1;

        {{ range .detalle }}
        agregar();
        $('#seleccion_producto' + cont).val('{{ .Codigoservicio }}');
        $('#nombre' + cont).val('{{ .Nombreservicio }}');
        $('#unidad' + cont).val('{{ .Unidadservicio }}');
        $('#iva' + cont).val('{{ .Ivaservicio }}');
        $('#descuento' + cont).val('{{ .Descuento }}');
        $('#cantidad' + cont).val('{{ .Cantidad }}');
        $('#valor' + cont).val('{{ .Precio }}');

        cont++;

        {{ end }}
        totales();

        $('#Fecha').focus();
            //TERMINA TRAER DATOS DE EDITAR
        }
    });

    // Traer Cotizacionservicio en ventaservicio
    $("#Cotizacionservicio").focusout(function () {
        elemento="#Cotizacionservicio";
        codigo = $(elemento).val().replace(" ", "_").toUpperCase();
        $(elemento).val(codigo);
        if ($(elemento).val().length > 0) {
            $.ajax({
                url: "/DatosCotizacionservicio/" + codigo,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (response) {
                    if (jQuery.isEmptyObject(response)) {
                        alert('No Existe Cotizacionservicio');
                    } else {
                        $.each(response, function (i, miCotizacionservicio) {
                            const format2 = "YYYY-MM-DD"
                            fecha1= moment(miCotizacionservicio.Fecha).format(format2);
                            vence1= moment(miCotizacionservicio.Vence).format(format2);
                            $("#Plazo").val('');
                            $("#terceroCodigo").val(miCotizacionservicio.Tercero);
                            $('#Subtotal').val(miCotizacionservicio.Subtotal);
                            $('#Descuento').val(miCotizacionservicio.Descuento);
                            $('#SubtotalIva19').val(miCotizacionservicio.Subtotaliva19);
                            $('#SubtotalIva5').val(miCotizacionservicio.Subtotaliva5);
                            $('#SubtotalBase19').val(miCotizacionservicio.Subtotalbase19);
                            $('#SubtotalBase5').val(miCotizacionservicio.Subtotalbase5);
                            $('#SubtotalBase0').val(miCotizacionservicio.Subtotalbase0);
                            $('#Total').val(miCotizacionservicio.Total);
                            $('#PorcentajeRetencionFuente').val(miCotizacionservicio.PorcentajeRetencionFuente);
                            $('#TotalRetencionFuente').val(miCotizacionservicio.TotalRetencionFuente);
                            $('#PorcentajeRetencionIca').val(miCotizacionservicio.PorcentajeRetencionIca);
                            $('#TotalRetencionIca').val(miCotizacionservicio.TotalRetencionIca);
                            $('#Neto').val(miCotizacionservicio.Neto);
                            $('#FormaDePago').val(miCotizacionservicio.Formadepago);
                            $('#MedioDePago').val(miCotizacionservicio.Mediodepago);
                            $('#Vendedor').val(miCotizacionservicio.Vendedor);
                            $('#Centro').val(miCotizacionservicio.Centro);
                            //Datos de Tercero
                            $("#terceroDv").val(miCotizacionservicio.TerceroDetalle.Dv);
                            $("#terceroNombre").val(miCotizacionservicio.TerceroDetalle.Nombre);
                            $("#terceroDireccion").val(miCotizacionservicio.TerceroDetalle.Direccion);
                            $("#terceroTelefono1").val(miCotizacionservicio.TerceroDetalle.Telefono1);
                            $("#terceroEmail1").val(miCotizacionservicio.TerceroDetalle.Email1);

                            // traer detalle
                            cont = 1;
                            $.each(miCotizacionservicio.DetalleEditar, function (e, miDetalle) {
                                agregar();
                                $('#seleccion_producto' + cont).val(miDetalle.Codigoservicio);
                                $('#nombre' + cont).val(miDetalle.Nombreservicio);
                                $('#unidad' + cont).val(miDetalle.Unidadservicio);
                                $('#iva' + cont).val(miDetalle.Ivaservicio);
                                $('#descuento' + cont).val(miDetalle.Descuento);
                                $('#seleccion_bodega' + cont).val(miDetalle.Bodega);
                                $('#cantidad' + cont).val(miDetalle.Cantidad);
                                $('#valor' + cont).val(miDetalle.Precio);
                                cont++;
                            });
                            totales();
                        });
                    }
                },
            });
        }
    });

</script>

{{end}}
