{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/formulario.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/compra.css"/>
<script type="text/javascript"
        src="{{ .hosting }}static/js/jspanel.js"></script>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/autocomplete.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/ribbons.css"/>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<script src="{{ .hosting }}static/js/cleave.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <br>
                <a class="ribbon ribbon-top-right ribbon-amarillo ribbon-md" href="">CONTABILIZADO</a>
                <h3 class="" style="color: white; background-color: #21B799; width: 270px; text-align: center; border-radius: 3px">Editar Traslado</h3>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home"
                         role="tabpanel" aria-labelledby="home-tab">
                        <form id="formulario" method="POST"
                              action="TrasladoActualizar/{{ .emp.Codigo }}">
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Traslado No.</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Codigo"
                                               id="Codigo"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Fecha</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               placeholder="DD/mm/YYYY"
                                               name="Fecha"
                                               id="Fecha"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Almacenista</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="Almacenista"
                                                id="Almacenista"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .almacenista }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                           </div>
                            <br>
                            <div class="form-group row mb-0">
                                <table id="tabla"
                                       class="table table-borderless table-sm"
                                       cellspacing="0" width="100%">
                                    <thead class="border black-text">
                                    <tr style="color: white;background-color: #21B799 ; height: 35px">
                                        <th style="color: white;background-color: #21B799 ; height: 35px"></th>
                                        <th></th>
                                        <th>No</th>
                                        <th style="padding-left: 12px">Producto</th>
                                        <th style="padding-left: 10px">Descripcion</th>
                                        <th>Unidad</th>
                                        <th style="padding-left: 10px">Iva</th>
                                        <th>Bodega</th>
                                        <th style="padding-left: 65px">Entrada</th>
                                        <th style="padding-left: 75px">Salida</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                               </table>
                            </div>
                            <input type="hidden" id="Subtotal19" />
                            <input type="hidden" id="Subtotal5" />
                            <input type="hidden" id="Subtotal0" />
                            <input type="hidden" id="SubtotalDescuento19" />
                            <input type="hidden" id="SubtotalDescuento5" />
                            <input type="hidden" id="SubtotalDescuento0" />
                            <br>
                            <div class="form-group row mb-0">
                                <div class="col-sm-12">
                                    <a href="/TrasladoLista"
                                       class="btn btn-outline-dark waves-effect btn-md float-right">Cancelar </a>
                                    <button type="button"
                                            onclick="guardar('Actualizar')"
                                            class="btn btn-outline-success waves-effect btn-md float-right">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   INICIA NUEVO TERCERO-->
<input id="terceroNuevo"
       type="hidden"/>
<input id="productoNuevo"
       type="hidden"/>
<input id="Total"
       type="hidden"/>
<input id="retfte" value="{{ .retfte }}"
       type="hidden"/>

<script src="{{ .hosting }}static/js/compra.js"></script>

{{template "trasladoscript" }}

<script>
    $(document).ready(function () {

        // INICIA FOCUS
        $('#Fecha').focus();

        // INICIA SELECT
        $('#Almacenista').materialSelect({});

        // llenar valores
        $("#Codigo").val('{{ .traslado.Codigo }}');
        $("#Fecha").val('{{ .traslado.Fecha.Format "2006-01-02"}}');
        $('#Almacenista').val('{{ .traslado.Almacenista}}');

        // llenar detalle
        cont1 = 1;

        {{ range .detalle }}
        agregar();
        $('#seleccion_producto' + cont1).val('{{ .Producto }}');
        $('#nombre' + cont1).html('{{ .ProductoNombre }}');
        $('#unidad' + cont1).html('{{ .ProductoUnidad }}');
        $('#iva' + cont1).html('{{ .ProductoIva }}');
        $('#seleccion_bodega' + cont1).val('{{ .Bodega }}');
        $('#entra' + cont1).val('{{ .Entra }}');
        $('#sale' + cont1).val('{{ .Sale }}');
        console.log("Contador") // outputs: {foo: 'bar'}
        console.log(cont1) // outputs: {foo: 'bar'}
        cont1++;

        {{ end }}
        totales();

    });

</script>

{{end}}
