{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/formulario.css"/>
<script type="text/javascript"
        src="{{ .hosting }}static/js/jspanel.js"></script>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/autocomplete.css"/>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <br>
                <h3 class="" style="color: white; background-color: #21B799;
                     width: 200px; text-align: center; border-radius: 1px">Editar Empresa</h3>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home"
                         role="tabpanel" aria-labelledby="home-tab">
                        <form id="formulario" method="POST"
                              action="/EmpresaActualizar/{{ .emp.Codigo }}">
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Nit.
                                    No.</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Codigo"
                                               id="Codigo"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <!-- <label for="campo2" class="col-sm-1 col-form-label">Dv</label>-->
                                <div class="col-sm-1">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Dv"
                                               id="Dv"
                                               class="form-control"
                                               readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Nombre</label>
                                <div class="col-sm-7">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Nombre"
                                               id="Nombre"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Activa</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="Activa"
                                                id="Activa"
                                                class="mdb-select md-form-control"
                                                editable="true">
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Impoventas</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="Iva"
                                                id="Iva"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            <option value="NO Resposable de IVA">
                                                NO Responsable de IVA
                                            </option>
                                            <option value="Responsable de IVA">
                                                Responsable de IVA
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Retencion
                                    Iva.</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="ReteIva"
                                                id="ReteIva"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            <option value="NO Retenedor IVA">
                                                NO Retenedor IVA
                                            </option>
                                            <option value="Retenedor IVA">
                                                Retenedor IVA
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Activida
                                    Ica</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="ActividadIca"
                                               id="ActividadIca"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Direccion</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Direccion"
                                               id="Direccion"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Ciudad</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="Ciudad"
                                                id="Ciudad"
                                                class="mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .ciudad}}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Telefono</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Telefono1"
                                               id="Telefono1"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Telefono</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Telefono2"
                                               id="Telefono2"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Licencia</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Licencia"
                                               id="Licencia"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">E-mail</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="email"
                                               name="Email1"
                                               id="Email1"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">E-mail</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="email"
                                               name="Email2"
                                               id="Email2"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Tipo</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="Tipo" id="Tipo"
                                                class="mdb-select md-form-control"
                                                editable="true">{{ range .tipoorganizacion}}
                                            <option value="{{ .Codigo }}">{{ .Nombre}}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Documento</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="Documento"
                                                id="Documento"
                                                class="mdb-select md-form-control"
                                                editable="true">
                                            {{ range .documentoidentificacion}}
                                            <option value="{{ .Codigo }}">
                                                {{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Regimen</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="Regimen"
                                                id="Regimen"
                                                class="mdb-select md-form-control"
                                                editable="true">
                                            {{ range .regimenfiscal}}
                                            <option value="{{ .Codigo }}">
                                                {{ .Nombre}}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Fiscal</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="Fiscal"
                                                id="Fiscal"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            {{ range .responsabilidadfiscal}}
                                            <option value="{{ .Codigo }}">
                                                {{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Rep.
                                    Legal
                                </label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="RepresentanteNit"
                                               id="RepresentanteNit"
                                               class="form-control"
                                        />
                                    </div>
                                </div>
                                <!--                                    <label for="campo2" class="col-sm-1 col-form-label">Dv</label>-->
                                <div class="col-sm-1">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="RepresentanteDv"
                                               id="RepresentanteDv"
                                               class="form-control"
                                               readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Revisor
                                    Fiscal
                                </label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="RevisorNit"
                                               id="RevisorNit"
                                               class="form-control"
                                        />
                                    </div>
                                </div>
                                <!--                                    <label for="campo2" class="col-sm-1 col-form-label">Dv</label>-->
                                <div class="col-sm-1">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="RevisorDv"
                                               id="RevisorDv"
                                               class="form-control"
                                               readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Contador
                                </label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="ContadorNit"
                                               id="ContadorNit"
                                               class="form-control"
                                        />
                                    </div>
                                </div>
                                <!--                                    <label for="campo2" class="col-sm-1 col-form-label">Dv</label>-->
                                <div class="col-sm-1">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="ContadorDv"
                                               id="ContadorDv"
                                               class="form-control"
                                               readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Nombre</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="RepresentanteNombre"
                                               id="RepresentanteNombre"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Nombre</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="RevisorNombre"
                                               id="RevisorNombre"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Nombre</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="ContadorNombre"
                                               id="ContadorNombre"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Modulo</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="Modulo"
                                                id="Modulo"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            <option value="Contabilidad">Contabilidad</option>
                                            <option value="Facturacion">Facturacion</option>
                                            <option value="Inventario">Inventario</option>
                                            <option value="Conjuntos">Conjuntos</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row mb-0">
                                <div class="col-sm-12">
                                    <a onclick="window.history.go(-1); return false;"
                                       class="btn btn-outline-dark waves-effect btn-md float-right">Cancelar </a>
                                    <button type="submit" id="guardar"
                                            class="btn btn-outline-success waves-effect btn-md float-right">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="TerceroNuevo"
       type="hidden"/>
<!--INICIA CREAR NUEVO-->
<input id="EmpresaNuevo"
       type="hidden"/>
<!--TERMINA CREAR NUEVO -->

<script>


    $(document).ready(function () {
        //INICIA MASCARAS
        $("#Codigo").mask('000,000,000,000', {reverse: true});
        $("#RepresentanteNit").mask('000,000,000,000', {reverse: true});
        $("#ContadorNit").mask('000,000,000,000', {reverse: true});
        $("#RevisorNit").mask('000,000,000,000', {reverse: true});
        $("#Telefono1").mask('(000) 000-0000');
        $("#Telefono2").mask('(000) 000-0000');

        //INICIA AUTOCOMPLETADA
        autocompletaTercero('#RepresentanteNit', '#RepresentanteDv', '#RepresentanteNombre');
        autocompletaTercero('#ContadorNit', '#ContadorDv', '#ContadorNombre');
        autocompletaTercero('#RevisorNit', '#RevisorDv', '#RevisorNombre');
        // TERMINA AUTOCOMPLETADA

        //INICIA FOCUS
        $('#Nombre').focus();
        //TERMINA FOCUS

        //INICIA SELECT
        $('.mdb-select').materialSelect({});
        //TERMINA SELECT

        //INICIA DATOS INICIALES
        $('#Codigo').val(Coma("{{ .emp.Codigo}}"));
        $('#Dv').val("{{ .emp.Dv}}");
        $('#Nombre').val("{{ .emp.Nombre}}");
        $('#ActividadIca').val("{{ .emp.ActividadIca}}");
        $('#Direccion').val("{{ .emp.Direccion}}");
        $('#Telefono1').val("{{ .emp.Telefono1}}");
        $('#Telefono2').val("{{ .emp.Telefono2}}");
        $('#Activa').val("{{ .emp.Activa}}");
        $('#Tipo').val("{{ .emp.Tipo}}");
        $('#Email1').val("{{ .emp.Email1}}");
        $('#Email2').val("{{ .emp.Email2}}");
        $('#Licencia').val("{{ .emp.Licencia}}");
        $('#Modulo').val("{{ .emp.Modulo}}");
        $('#Documento').val("{{ .emp.Documento }}");
        $('#Regimen').val("{{ .emp.Regimen }}");
        $('#Fiscal').val("{{ .emp.Fiscal }}");
        $('#Ciudad').val("{{ .emp.Ciudad }}");
        $('#RepresentanteNit').val(Coma("{{ .emp.RepresentanteNit }}"));
        $('#RepresentanteDv').val("{{ .emp.RepresentanteDv }}");
        $('#RepresentanteNombre').val("{{ .emp.RepresentanteNombre }}");
        $('#ContadorNit').val(Coma("{{ .emp.ContadorNit }}"));
        $('#ContadorDv').val("{{ .emp.ContadorDv }}");
        $('#ContadorNombre').val("{{ .emp.ContadorNombre }}");
        $('#RevisorNit').val(Coma("{{ .emp.RevisorNit }}"));
        $('#RevisorDv').val("{{ .emp.RevisorDv }}");
        $('#RevisorNombre').val("{{ .emp.RevisorNombre }}");
        //TERMINA DATOS INICIALES

        // INICIA CREAR DUPLICADO CON F2
        $(document).on('keyup', '#Nombre', function (e) {
            var code = e.keyCode || e.which;

            if (e.which == 113) {
                document.location.href = '/EmpresaNuevo/'+ $("#Codigo").val();
            }
        });
        // TERMINA CREAR DUPLICADO CON F2
    });


</script>

{{template "autocompletaTercero" }}
{{end}}
