{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/datatable.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/tabla.css"/>
<div class="container-fluid">
    <section>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <br>
                    <div class="form-group row mb-4 mt-0 ml-0">
                        <h3 class="" style="color: white; background-color: #21B799;
                     width: 322px; text-align: center; height:40px">
                            Listado de Financieros</h3>
                        <div class="col-sm-3"></div>
                        <div id="areaBuscar">
                        </div>
                        <label class="col-sm-1 col-form-label">Buscar</label>
                        <div class="col-sm-2">
                            <div class="md-form mt-0">
                                <input type="text"
                                       name="Buscar"
                                       id="Buscar"
                                       class="form-control"
                                       required/>
                            </div>
                        </div>
                        <a id="pdf"
                           style="height:40px; text-align: center; width:100px; margin-top: 0px; padding: 10px; margin-right: 10px; pxfont-size: 10; font-family: Arial"
                           target="_blank" href="FinancieroTodosPdf"
                           class="btn btn-outline-danger waves-effect btn-md float-right">PDF
                        </a>
                        <a target="_blank" href="FinancieroExcel" id="excel"
                           style="height:40px; text-align: center; width:100px; margin-top: 0px; padding: 10px; margin-right: 10px; font-size: 10px; font-family: Arial "
                           class="btn btn-outline-info waves-effect btn-md float-right ">
                            EXCEL
                        </a>
                        <a href="/FinancieroNuevo/False"
                           class="btn btn-outline-success"
                           style="height:40px; text-align: center; width:100px; margin-top: 0px; padding: 10px; font-size: 10px; font-family: Arial ">NUEVO</a>
                    </div>
                            <table id="dt-all-checkbox"
                                   class="table table-borderless table-striped table-sm"
                                   cellspacing="0" width="100%">
                                <thead style="color: white; background-color: #21B799"
                                       class="th-sm">
                                <tr>
                                    <th>Filas
                                    </th>
                                    <th>Codigo
                                    </th>
                                    <th>Nombre
                                    </th>
                                    <th>Acciones
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {{range .res}}
                                <tr>
                                    <td></td>
                                    <td>{{ .Codigo }}</td>
                                    <td>{{ .Nombre }}</td>
                                    <td>
                                        <a href="/FinancieroEditar/{{ .Codigo }}"
                                           class="teal-text pl-3"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Editar"><i
                                                class="fas fa-pencil-alt"></i></a>
                                        <a target="_blank"
                                           href="/FinancieroPdf/{{ .Codigo }}"
                                           class="blue-text pl-3"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="See results"><i
                                                class="fas fa-user"></i></a>
                                        <a href="/FinancieroBorrar/{{ .Codigo }}"
                                           class="red-text pl-3"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Eliminar"><i
                                                class="fas fa-times"></i></a>
                                    </td>
                                </tr>
                                {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </section>
</div>

<script>
    numeroPanel = 1;
    $(document).ready(function () {
        oTable = $('#dt-all-checkbox').dataTable({
            dom: 'lrtip',
            "bFilter": true,
            "scrollY": "520px",
            "scrollCollapse": true,
            "scrollXInner": true,
            "paging": false,
            columns:
                [{"data": "Filas"},
                    {"data": "Codigo"},
                    {"data": "Nombre"},
                    {"data": "Acciones"},
                ],

            columnDefs: [{
                orderable: false,
                className: 'select-checkbox select-checkbox-all',
                targets: 0
            }],
            "ordering" : false,
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust()
                .responsive.recalc();
        });
        oTable = $('#dt-all-checkbox').DataTable();
        $('#Buscar').keyup(function () {
            oTable.search($(this).val()).draw();
        })

        $('#dt-all-checkbox_wrapper').find('label').each(function () {
            $(this).parent().append($(this).children());
        });
        $('#dt-all-checkbox_wrapper .dataTables_filter').find('input').each(function () {
            const $this = $(this);
            $this.attr("placeholder", "Buscar");
            $this.removeClass('form-control-sm');
        });
        $('#dt-all-checkbox_wrapper .dataTables_length').addClass('d-flex flex-row');
        $('#dt-all-checkbox_wrapper .dataTables_filter').addClass('md-form');
        $('#dt-all-checkbox_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
        $('#dt-all-checkbox_wrapper select').addClass('mdb-select');
        $('#dt-all-checkbox_wrapper .dataTables_filter').find('label').remove();
        $('.mdb-select').materialSelect({});

    });

</script>

{{end}}

