{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/formulario.css"/>
<script type="text/javascript"
        src="{{ .hosting }}static/js/jspanel.js"></script>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/autocomplete.css"/>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="form-group row mb-0">
            <div class="col-sm-3">
                <div class="md-form mt-0">
                    <div id="aviso"
                         class="alert alert-success alert-dismissible"
                         role="alert">
                        <p id="textoaviso">Cargando...</p>
                        <button
                                type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="" style="color: white; background-color: #21B799;
                     width: 300px; text-align: center; border-radius: 1px">Nueva
                    Cuenta</h3>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home"
                         role="tabpanel" aria-labelledby="home-tab">
                        <form id="formulario" method="POST"
                              action="/PlandecuentaempresaInsertar">
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Codigo</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Codigo"
                                               id="Codigo"
                                               class="form-control"
                                               minlength="8"
                                               maxlength="8"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Nombre</label>
                                <div class="col-sm-8">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Nombre"
                                               id="Nombre"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Auto</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Auto"
                                               id="Auto"
                                               class="form-control"
                                               maxlength="5"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Nivel</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="Nivel"
                                                id="Nivel"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option selected="selected"
                                                    value="A">A
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Financiero</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="Financiero"
                                                id="Financiero"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            {{ range .financiero }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Tercero</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="Tercero"
                                                id="Tercero"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            <option value="NO">NO</option>
                                            <option value="SI">SI</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Centro</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="Centro"
                                                id="Centro"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            <option value="NO">NO</option>
                                            <option value="SI">SI</option>
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Factura</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="Factura"
                                                id="Factura"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            <option value="NO">NO</option>
                                            <option value="SI">SI</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="Datosconjunto" class="d-none" >
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Cuota</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="Cuota"
                                                id="Cuota"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            <option value="NO">NO</option>
                                            <option value="SI">SI</option>
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Tipo</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="Tipo"
                                                id="Tipo"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            <option value="CuotaP">CuotaP
                                            </option>
                                            <option value="Cuota1">Cuota1
                                            </option>
                                            <option value="Cuota2">Cuota2
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <label class="col-sm-1 col-form-label">Cta.
                                    Contra</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Contra"
                                               id="Contra"
                                               minlength="8"
                                               maxlength="8"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Cta.
                                    Nombre</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="ContraNombre"
                                               id="ContraNombre"
                                               class="form-control"
                                               readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Cobra Interes</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="Interes"
                                                id="Interes"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            <option value="NO">NO</option>
                                            <option value="SI">SI</option>
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Cta.
                                    Interes</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Cuentaintereses"
                                               id="Cuentaintereses"
                                               minlength="8"
                                               maxlength="8"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Cta.
                                    Nombre</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Nombreintereses"
                                               id="Nombreintereses"
                                               class="form-control"
                                               readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Grupo</label>
                                <div class="col-sm-2">
                                    <select name="Grupo"
                                            id="Grupo"
                                            class=" mdb-select md-form-control"
                                            editable="true">
                                        <option value="G1">G1</option>
                                        <option value="G2">G2</option>
                                        <option value="G3">G3</option>
                                    </select>
                                </div>
                            </div>

                            </div>
                            <br>
                            <div class="form-group row mb-0">
                                <div class="col-sm-12">
                                    <a onclick="window.history.go(-1); return false;"
                                       class="btn btn-outline-dark waves-effect btn-md float-right">Cancelar </a>
                                    <button type="submit" id="guardar"
                                            class="btn btn-outline-success waves-effect btn-md float-right">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//INICIA CREAR CUENTA NUEVO-->
<input id="PlandecuentaempresaNuevo"
       type="hidden"/>
<!--//TERMINA CREAR CUENTA NUEVO-->
<script>

    function cerrar() {
        window.parent.cerrarPanel("{{ .panel }}", false);
    }

    var numeroPanel = 1;

    function cerrar() {

        codigoElemento = $('#Codigo').val().replace('.', '');
        elemento = '{{.Elemento }}';
        var myCustomData = {
            valido: true,
            codigoElemento: codigoElemento,
            elementoPanel: elemento
        }
        var event = new CustomEvent('myEvent', {detail: myCustomData})
        window.parent.document.dispatchEvent(event)
    }

    $(document).ready(function () {
        if ("{{ .nombremodulo }}"=="Conjuntos")
            {
                $("#Datosconjunto").removeClass("d-none")
            }


        $("#aviso").hide();
        $("#guardar").prop("disabled", false);
        $("#guardar").prop("disabled", true);

        varPanel = "{{.Panel}}";
        varCodigo = "{{ .Codigo }}";

        if (varCodigo != "False") {
            $('#Codigo').val('{{ .Codigo }}');
        }

        if (varPanel != "False") {
            $('#Codigo').val('{{ .Codigo }}');
            $("#guardar").prop("disabled", false);

            $('#formulario').submit(function () { // catch the form's submit event

                $.ajax({ // create an AJAX call...
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: $(this).attr('action'), // the file to call
                    success: function (response) { // on success..
                        cerrar();
                    }
                });
                return false;
            });
        }

        $("#Codigo").mask('00000000');

        autocompletaPlandecuentaempresa('#Contra', '#ContraNombre');
        autocompletaPlandecuentaempresa('#Cuentaintereses', '#Nombreintereses');

        $("#Codigo").focus();

        //INICIA SELECT
        $('.mdb-select').materialSelect({});
        $("#Interes").prop("readonly", true);
        $("#Interes").val("");

        //DATOS PLAN DE CUENTA EMPRESA COPIAR
        if ("{{ .copiar}}"=="True") {
            $("#Codigo").val('{{ .emp.Codigo }}');
            $("#Nombre").val('{{ .emp.Nombre }}');
            $("#Auto").val('{{ .emp.Auto }}');
            $("#Nivel").val("{{ .emp.Nivel }}");
            $("#Financiero").val("{{ .emp.Financiero }}");
            $("#Tercero").val("{{ .emp.Tercero }}");
            $("#Centro").val("{{ .emp.Centro }}");
            $("#Factura").val("{{ .emp.Factura }}");
            $("#Cuota").val("{{ .emp.Cuota }}");
            $("#Grupo").val("{{ .emp.Grupo }}");
            $("#Tipo").val("{{ .emp.Tipo }}");
            $("#Contra").val("{{ .emp.Contra }}");
            $("#ContraNombre").val("{{ .emp.ContraNombre }}");
            $("#Cuentaintereses").val("{{ .emp.Cuentaintereses }}");
            $("#Interes").val("{{ .emp.Interes }}");
            $("#Nombreintereses").val("{{ .emp.Nombreintereses }}");
        }
    })

    $('#Codigo').on('keyup focusout', function (event) {

        if ($("#Codigo").val().length > 0) {
            console.log("Handler for .keyup() called." + $("#Codigo").val());
            $.ajax({
                url: "/PlandecuentaempresaExiste/" +
                    $("#Codigo").val().replace(' ', ''),
                type: "GET",
                dataType: "json",
                async: false,
                success: function (respuesta) {
                    if (respuesta.result == true) {
                        console.log(respuesta.result);
                        $("#textoaviso").html("El Codigo Ya Existe");
                        $("#aviso").show();
                        $("#guardar").prop("disabled", true);

                    } else {
                        console.log(respuesta.result);
                        $("#aviso").hide();
                        $("#guardar").prop("disabled", false);
                    }
                },
            });
        }
    });

    $('#Interes').on('change', function () {
        valida();
    });
    $('#Cuota').on('change', function () {
        valida();
    });


    function valida() {

        if ($('#Interes').val() == "NO") {
            $("#Cuentaintereses").prop("readonly", true);
            $("#Cuentaintereses").val("");
            $("#Nombreintereses").val("");
        } else {
            $("#Cuentaintereses").prop("readonly", false);
            $("#Cuentaintereses").val("");
            $('#Nombreintereses').focus();
        }

    }
</script>

{{template "autocompletaPlandecuentaempresa" }}
{{end}}