{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/formulario.css"/>
<script type="text/javascript"
        src="{{ .hosting }}static/js/jspanel.js"></script>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/autocomplete.css"/>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <!--       INICIA AVISO CODIGO YA EXISTE-->
        <div class="form-group row mb-0">
            <div class="col-sm-3">
                <div class="md-form mt-0">
                    <div id="aviso"
                         class="alert alert-success alert-dismissible"
                         role="alert">
                        <p id="textoaviso">Cargando...</p>
                        <button
                                type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--       TERMINA AVISO CODIGO YA EXISTE-->
        <div class="card">
            <div class="card-body">
                <h3 class="" style="color: white; background-color: #21B799;
                     width: 400px; text-align: center; border-radius: 1px">Nueva Resolucion Venta</h3>
                <br>
                <form id="formulario" method="POST"
                      action="/ResolucionventaInsertar">
                    <div class="form-group row mb-0">
                        <label class="col-sm-1 col-form-label">Codigo</label>
                        <div class="col-sm-1">
                            <div class="md-form mt-0">
                                <input type="text"
                                       name="Codigo"
                                       id="Codigo"
                                       class="form-control"
                                       required/>
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Resolucion</label>
                        <div class="col-sm-2">
                            <div class="md-form mt-0">
                                <input type="text"
                                       name="Numero"
                                       id="Numero"
                                       class="form-control"
                                       required/>
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Pre-Fijo</label>
                        <div class="col-sm-1">
                            <div class="md-form mt-0">
                                <input type="text"
                                       name="Prefijo"
                                       id="Prefijo"
                                       class="form-control"
                                       required/>
                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label">Tipo
                            de Documento</label>
                        <div class="col-sm-3">
                            <div class="md-form mt-0">
                                <select name="Tipo"
                                        id="Tipo"
                                        class="mdb-select md-form"
                                        editable="true">
                                    <option value="Electronica">
                                        Electronica
                                    </option>
                                    <option value="Contingencia">
                                        Contingencia
                                    </option>
                                    <option value="Pos">Pos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-sm-1 col-form-label">Fecha
                            Inicial</label>
                        <div class="col-sm-2">
                            <div class="md-form mt-0">
                                <input type="Date"
                                       name="FechaInicial"
                                       id="FechaInicial"
                                       class="form-control"
                                       required/>
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Fecha
                            Final</label>
                        <div class="col-sm-2">
                            <div class="md-form mt-0">
                                <input type="Date"
                                       name="FechaFinal"
                                       id="FechaFinal"
                                       class="form-control"
                                       required/>
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Numero
                            inicial</label>
                        <div class="col-sm-2">
                            <div class="md-form mt-0">
                                <input type="Text"
                                       name="NumeroInicial"
                                       id="NumeroInicial"
                                       class="form-control"
                                       required/>
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Numero
                            Final</label>
                        <div class="col-sm-2">
                            <div class="md-form mt-0">
                                <input type="Text"
                                       name="NumeroFinal"
                                       id="NumeroFinal"
                                       class="form-control"
                                       required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-sm-1 col-form-label">Numero
                            Actua</label>
                        <div class="col-sm-2">
                            <div class="md-form mt-0">
                                <input type="text"
                                       name="NumeroActual"
                                       id="NumeroActual"
                                       class="form-control"
                                />
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Telefono</label>
                        <div class="col-sm-2">
                            <div class="md-form mt-0">
                                <input type="Text"
                                       name="Telefono"
                                       id="Telefono"
                                       class="form-control"
                                       required/>
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Informe</label>
                        <div class="col-sm-2">
                            <div class="md-form mt-0">
                                <select name="Informe"
                                        id="Informe"
                                        class="mdb-select md-form"
                                        editable="true">
                                    <option value="Computador1">
                                        Computador1
                                    </option>
                                    <option value="Computador2">
                                        Computador2
                                    </option>
                                </select>
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Ambiente</label>
                        <div class="col-sm-2">
                            <div class="md-form mt-0">
                                <select name="Ambiente"
                                        id="Ambiente"
                                        class="mdb-select md-form"
                                        editable="true">
                                    <option value="1">
                                        Produccion
                                    </option>
                                    <option value="2">
                                        Pruebas
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-sm-1 col-form-label">Nombre
                            Local</label>
                        <div class="col-sm-3">
                            <div class="md-form mt-0">
                                <input type="text"
                                       name="Local"
                                       id="Local"
                                       class="form-control"
                                />
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Direccion
                        </label>
                        <div class="col-sm-3">
                            <div class="md-form mt-0">
                                <input type="Text"
                                       name="Direccion"
                                       id="Direccion"
                                       class="form-control"
                                />
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Ciudad</label>
                        <div class="col-sm-3">
                            <div class="md-form mt-0">
                                <select name="Ciudad"
                                        id="Ciudad"
                                        class=" mdb-select md-form-control"
                                        searchable="Buscar...">
                                    {{ range .ciudad }}
                                    <option value="{{ .Codigo }}">{{ .Nombre }}
                                    </option>
                                    {{ end }}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-sm-1 col-form-label">Clave Tecnica</label>
                        <div class="col-sm-5">
                            <div class="md-form mt-0">
                                <input type="text"
                                       name="Clavetecnica"
                                       id="Clavetecnica"
                                       class="form-control"
                                />
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Ide Software
                        </label>
                        <div class="col-sm-5">
                            <div class="md-form mt-0">
                                <input type="Text"
                                       name="Idesoftware"
                                       id="Idesoftware"
                                       class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-sm-1 col-form-label">Test Id</label>
                        <div class="col-sm-5">
                            <div class="md-form mt-0">
                                <input type="text"
                                       name="Testid"
                                       id="Testid"
                                       class="form-control"
                                />
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Pin</label>
                        <div class="col-sm-5">
                            <div class="md-form mt-0">
                                <input type="Text"
                                       name="Pin"
                                       id="Pin"
                                       class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row mb-0">
                        <div class="col-sm-12">
                            <a onclick="window.history.go(-1); return false;"
                               class="btn btn-outline-dark waves-effect btn-md float-right">Cancelar </a>
                            <button type="submit" id="guardar"
                                    class="btn btn-outline-success waves-effect btn-md float-right">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    // INICIA CERRAR VENTANA

    // TERMINA CERRAR VENTANA

    $(document).ready(function () {
        // INICIA CONFIGURA MASCARA PARA NUMERO
        $("#Codigo").mask('00');
        $("#Telefono").mask('(000) 000-0000');
        $("#NumeroInicial").mask('000.000.000', {reverse: true});
        $("#NumeroFinal").mask('000.000.000', {reverse: true});
        $("#NumeroActual").mask('000.000.000', {reverse: true});
        // TERMINA CONFIGURA MASCARA PARA NUMERO

        // INICIA FOCUS
        $('#Codigo').focus();
        // TERMINA FOCUS

        // INICIA FECHA
        var m = moment().format("YYYY-MM-DD");
        $("#FechaInicial").val(m);
        $("#FechaFinal").val(m);
        $('#Ciudad').val("50001")
        // TERMINA FECHA

        // INICIA CODIGO YA EXISTE
        $("#Codigo").focus();
        $("#aviso").hide();
        $("#guardar").prop("disabled", false);
        $("#guardar").prop("disabled", true);
        $("#Codigo").keyup(function () {
            if ($("#Codigo").val().length > 0) {
                console.log("Handler for .keyup() called." + $("#Codigo").val());
                $.ajax({
                    url: "/ResolucionventaExiste/" + $("#Codigo").val(),
                    type: "GET",
                    dataType: "json",
                    async: false,
                    success: function (respuesta) {
                        if (respuesta.result == true) {
                            console.log(respuesta.result);
                            $("#textoaviso").html("El Codigo Ya Existe");
                            $("#aviso").show();
                            $("#guardar").prop("disabled", true);
                        } else {
                            console.log(respuesta.result);
                            $("#aviso").hide();
                            $("#guardar").prop("disabled", false);
                        }
                    },
                });
            }
        });
        // TERMINA CODIGO YA EXISTE

        // INICIA INFORMACION SELECT
        $('.mdb-select').materialSelect({});
        // TERMINA INFORMACION SELECT
    });

</script>
{{ end }}
