{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/datatable.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/tabla.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/formulario.css"/>
<script type="text/javascript"  src="{{ .hosting }}static/js/jspanel.js"></script>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/autocomplete.css"/>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<script src="{{ .hosting }}static/js/binarytransport.js"></script>

<div class="container-fluid">
    <section>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <br>
                    <div class="form-group row mb-4 mt-0 ml-3">
                        <h3 class="card-title" class="" style="color: white; background-color: #21B799;
                     width: 270px; text-align: center; border-radius: 1px">
                            Balance de Prueba</h3>
                        <div class="col-sm-6"></div>
                        <div class="col-sm-1">
                            <button type="button" id="pdf" style="height:40px;width:100px; padding: 0px; margin-right: 25px"
                                    class="btn btn-outline-danger waves-effect btn-md float-right">
                                PDF
                            </button>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" id="excel" style="height:40px;width:100px; padding: 0px;margin-right: 0px "
                                    class="btn btn-outline-info waves-effect btn-md float-right " >
                                EXCEL
                            </button>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" id="actualizar" style="height:40px;width:100px; padding: 0px; margin-right: 0px "
                                    class="btn btn-outline-success waves-effect btn-md">
                                ACEPTAR
                            </button>
                        </div>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home"
                             role="tabpanel" aria-labelledby="home-tab">
                            <div class="form-group row mb-0 ml-0">
                                <label class="col-sm-1 col-form-label">Cuenta</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Text"
                                               value="1"
                                               name="CuentaInicial"
                                               id="CuentaInicial"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Hasta</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Text"
                                               value="99999999"
                                               name="CuentaFinal"
                                               id="CuentaFinal"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Fecha</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               placeholder="DD/mm/YYYY"
                                               name="FechaInicial"
                                               id="FechaInicial"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Hasta</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               placeholder="DD/mm/YYYY"
                                               name="FechaFinal"
                                               id="FechaFinal"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0 ml-0">
                                <label class="col-sm-1 col-form-label">Tercero</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Text"
                                               value="1"
                                               name="TerceroInicial"
                                               id="TerceroInicial"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Hasta</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Text"
                                               value="999999999999"
                                               name="TerceroFinal"
                                               id="TerceroFinal"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Centro</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Text"
                                               value="1"
                                               name="CentroInicial"
                                               id="CentroInicial"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Hasta</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Text"
                                               value="99"
                                               name="CentroFinal"
                                               id="CentroFinal"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0 ml-0">
                                <label class="col-sm-1 col-form-label">Documento</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Text"
                                               value="0"
                                               name="DocumentoInicial"
                                               id="DocumentoInicial"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Hasta</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Text"
                                               value="99"
                                               name="DocumentoFinal"
                                               id="DocumentoFinal"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Numero</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Text"
                                               value="0"
                                               name="NumeroInicial"
                                               id="NumeroInicial"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Hasta</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Text"
                                               value="ZZZZZZZZZZ"
                                               name="NumeroFinal"
                                               id="NumeroFinal"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-0 ml-0">
                            <label class="col-sm-1 col-form-label">Detalle</label>
                            <div class="col-sm-2">
                                <div class="md-form mt-0">
                                    <select name="Detalle" id="Detalle"
                                            class=" mdb-select md-form-control"
                                            editable="true">
                                        <option value="NO">NO</option>
                                        <option value="SI">SI</option>
                                    </select>
                                </div>
                            </div>
                            <label class="col-sm-1 col-form-label">Nivel</label>
                            <div class="col-sm-2">
                                <div class="md-form mt-0">
                                    <select name="Nivel" id="Nivel"
                                            class=" mdb-select md-form-control"
                                            editable="true">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option selected value="A">A
                                        </option>

                                    </select>
                                </div>
                            </div>
                            <label class="col-sm-1 col-form-label">Activa</label>
                            <div class="col-sm-2">
                                <div class="md-form mt-0">
                                    <select name="Activa" id="Activa"
                                            class=" mdb-select md-form-control"
                                            editable="true">
                                        <option value="NO">NO</option>
                                        <option value="SI">SI</option>
                                    </select>
                                </div>
                            </div>
                            <label class="col-sm-1 col-form-label">Subtotal</label>
                            <div class="col-sm-2">
                                <div class="md-form mt-0">
                                    <select name="Subtotal"
                                            id="Subtotal"
                                            class=" mdb-select md-form-control"
                                            editable="true">
                                        <option value="Por Cuenta">Por
                                            Cuenta
                                        </option>
                                        <option value="Por Mes">Por Mes
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <table id="dt-all-checkbox"
                               class="table table-borderless table-striped table-sm"
                               cellspacing="0" width="100%">
                            <thead style="color: white; background-color: #21B799">
                            <tr>
                                <th>Filas</th>
                                <th>Codigo</th>
                                <th>Descripcion</th>
                                <th>Anterior</th>
                                <th>Debito</th>
                                <th>Credito</th>
                                <th>Saldo</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<input id="TerceroNuevo"
       type="hidden"/>
<input id="CuentaNuevo"
       type="hidden"/>
<input id="CentroNuevo"
       type="hidden"/>
{{template "autocompletaPlandecuentaempresa"}}
{{template "autocompletaTercero" }}
{{template "autocompletaCentro" }}
{{template "autocompletaDocumento" }}

<script>
    numeroPanel = 1;
    $(document).ready(function () {

        $("#CuentaFinal").keydown(function (e) {
            if (e.keyCode == 32) {
            $("#CuentaFinal").val(  $("#CuentaInicial").val().trim().padEnd(8,"9"));

            //alert($("#CuentaInicial").val().trim().padEnd(8,"9"));
            }
        });

        // INICIA FECHA
        var m = moment().format("YYYY-MM-DD");
        $("#FechaInicial").val(m);
        $("#FechaFinal").val(m);

        autocompletaPlandecuentaempresa("#CuentaInicial", "#Cuenta");
        autocompletaPlandecuentaempresa("#CuentaFinal", "#Cuenta");
        autocompletaTercero("#TerceroInicial");
        autocompletaTercero("#TerceroFinal");
        autocompletaCentro("#CentroInicial");
        autocompletaCentro("#CentroFinal");
        autocompletaDocumento("#DocumentoInicial");
        autocompletaDocumento("#DocumentoFinal");

        $("#actualizar").click(function () {
            FechaInicial = $("#FechaInicial").val();
            FechaFinal = $("#FechaFinal").val();
            var datosEnviar = {
                "FechaInicial": FechaInicial,
                "FechaFinal": FechaFinal,
                "CuentaInicial": $("#CuentaInicial").val(),
                "CuentaFinal": $("#CuentaFinal").val(),
                "TerceroInicial": $("#TerceroInicial").val(),
                "TerceroFinal": $("#TerceroFinal").val(),
                "CentroInicial": $("#CentroInicial").val(),
                "CentroFinal": $("#CentroFinal").val(),
                "DocumentoInicial": $("#DocumentoInicial").val(),
                "DocumentoFinal": $("#DocumentoFinal").val(),
                "NumeroInicial": $("#NumeroInicial").val(),
                "NumeroFinal": $("#NumeroFinal").val(),
                "Detalle": $("#Detalle").val(),
                "Nivel": $("#Nivel").val(),
                "Activa": $("#Activa").val(),
                "Subtotal": $("#Subtotal").val(),
            };
            var accion = "";
            accion = '/BalancedepruebaDatos';
            $.ajax({
                url: accion,
                type: "POST",
                async: false,
                data: JSON.stringify(datosEnviar),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    // BindDataTable(response);
                    console.log(JSON.stringify(response));
                    datos(response);
                    // datatable.clear();
                    // datatable.rows.add(response);
                    // datatable.draw();
                }
            })
        });


        //EXCEL
        $("#excel").click(function () {
            FechaInicial = $("#FechaInicial").val();
            FechaFinal = $("#FechaFinal").val();
            var accion = "";
            accion = '/BalancedepruebaExcel';
            accion+="/"+FechaInicial+"/"+FechaFinal+"/"+$("#CuentaInicial").val();
            accion+="/"+ $("#CuentaFinal").val();
            accion+="/"+ $("#TerceroInicial").val();
            accion+="/"+ $("#TerceroFinal").val();
            accion+="/"+ $("#CentroInicial").val();
            accion+="/"+ $("#CentroFinal").val();
            accion+="/"+$("#DocumentoInicial").val();
            accion+="/"+ $("#DocumentoFinal").val();
            accion+="/"+ $("#NumeroInicial").val();
            accion+="/"+ $("#NumeroFinal").val();
            accion+="/"+ $("#Detalle").val();
            accion+="/"+ $("#Nivel").val();
            accion+="/"+ $("#Activa").val();
            accion+="/"+ $("#Subtotal").val();
            window.open(accion, '_blank').focus();
        });

        //´pdf
        $("#pdf").click(function () {
            FechaInicial = $("#FechaInicial").val();
            FechaFinal = $("#FechaFinal").val();
            var accion = "";
            accion = '/BalancedepruebaPdf';
            accion+="/"+FechaInicial+"/"+FechaFinal+"/"+$("#CuentaInicial").val();
            accion+="/"+ $("#CuentaFinal").val();
                accion+="/"+ $("#TerceroInicial").val();
                accion+="/"+ $("#TerceroFinal").val();
                accion+="/"+ $("#CentroInicial").val();
                accion+="/"+ $("#CentroFinal").val();
                accion+="/"+$("#DocumentoInicial").val();
                accion+="/"+ $("#DocumentoFinal").val();
                accion+="/"+ $("#NumeroInicial").val();
                accion+="/"+ $("#NumeroFinal").val();
                accion+="/"+ $("#Detalle").val();
                accion+="/"+ $("#Nivel").val();
                accion+="/"+ $("#Activa").val();
                accion+="/"+ $("#Subtotal").val();
            window.open(accion, '_blank').focus();
        });


        $('.mdb-select').materialSelect({});
    });

    function datos(datosAjax) {
        Producto = $("#Producto").val();
        FechaInicial = $("#FechaInicial").val();
        FechaFinal = $("#FechaFinal").val();
        Bodega = $("#Bodega").val();


        $('#dt-all-checkbox').dataTable().fnDestroy();
        var datatable = $('#dt-all-checkbox').dataTable({
            "dom": 'lrtip',
            "scrollY": "412px",
            "scrollCollapse": true,
            "scrollXInner": true,
            "paging": false,
            "aaData": datosAjax,
            columns:
                [{"data": "Filas"},
                    {"data": "Codigo"},
                    {"data": "Descripcion"},
                    {"data": "Anterior",className: "text-right"},
                    {"data": "Debito", className: "text-right"},
                    {"data": "Credito", className: "text-right"},
                    {"data": "Saldo", className: "text-right"},
                ],
            columnDefs: [{



                orderable: false,
                className: 'select-checkbox select-checkbox-all',
                targets: 0
            }],
            "ordering": false,
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },

            select: {
                style: 'multi',
                selector: 'td:first-child'
            }
        });
        $('#dt-all-checkbox').DataTable();
        $('#dt-all-checkbox_wrapper').find('label').each(function () {
            $(this).parent().append($(this).children());
        });
        $('#dt-all-checkbox_wrapper .dataTables_filter').find('input').each(function () {
            const $this = $(this);
            $this.attr("placeholder", "Buscar");
            $this.removeClass('form-control-sm');
        });
        $('#dt-all-checkbox_wrapper .dataTables_length').addClass('d-flex flex-row');
        $('#dt-all-checkbox_wrapper .dataTables_filter').addClass('md-form');
        $('#dt-all-checkbox_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
        $('#dt-all-checkbox_wrapper select').addClass('mdb-select');
        $('#dt-all-checkbox_wrapper .dataTables_filter').find('label').remove();

    }

</script>

{{end}}
