{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/formulario.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/compra.css"/>
<script type="text/javascript"
        src="{{ .hosting }}static/js/jspanel.js"></script>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/autocomplete.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/ribbons.css"/>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<script src="{{ .hosting }}static/js/cleave.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <!--             INICIA AVISO CODIGO YA EXISTE-->
        <div class="form-group row mb-0">
            <div class="col-sm-3">
                <div class="md-form mt-0">
                    <div id="aviso"
                         class="alert alert-success alert-dismissible"
                         role="alert">
                        <p id="textoaviso">Cargando...</p>
                        <button
                                type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--            TERMINA AVISO CODIGO YA EXISTE-->
        <div class="card">
            <div class="card-body">
                <a class="ribbon ribbon-top-right ribbon-amarillo ribbon-md" href="">CONTABILIZADO</a>
                <h3 class="" style="color: white; background-color: #21B799; width: 400px; text-align: center; border-radius: 3px">Nueva Devolucion Venta</h3>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home"
                         role="tabpanel" aria-labelledby="home-tab">
                        <form id="formulario" method="POST"
                              action="/DevolucionventaAgregar">
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Resolucion No.</label>
                                <div class="col-sm-10">
                                    <div class="md-form mt-0">
                                        <select name="Resolucion"
                                                id="Resolucion"
                                                class=" mdb-select md-form-control"
                                                editable="true">
                                            {{ range .resolucion }}
                                            <option value="{{ .Codigo }}">{{ .Numero }}-{{ .Prefijo }}-{{ .Tipo }}-{{ .Local }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Devolucion No.</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Codigo"
                                               id="Codigo"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Venta No.</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Venta"
                                               id="Venta"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Fecha</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               placeholder="DD/mm/YYYY"
                                               name="Fecha"
                                               id="Fecha"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Forma
                                    de Pago</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="FormaDePago"
                                                id="FormaDePago"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .formadepago }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Fecha
                                    Vence</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               name="Vence"
                                               id="Vence"
                                               class="form-control"
                                               required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Medio de Pago</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="MedioDePago"
                                                id="MedioDePago"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .mediodepago }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Vendedor</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <select name="Vendedor"
                                                id="Vendedor"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .vendedor }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Centro</label>
                                <div class="col-sm-1">
                                    <div class="md-form mt-0">
                                        <select name="Centro"
                                                id="Centro"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .centro }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Cliente</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroCodigo"
                                               class="form-control text-left"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Nombre</label>
                                <div class="col-sm-4">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroNombre"
                                               class="form-control"
                                               disabled>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Direccion</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroDireccion"
                                               class="form-control"
                                               disabled>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row mb-0">
                                <table id="tabla"
                                       class="table table-borderless table-sm"
                                       cellspacing="0" width="100%">
                                    <thead class="border black-text">
                                    <tr style="color: white;background-color: #21B799 ; height: 35px">
                                        <th style="color: white;background-color: #21B799 ; height: 35px"></th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Producto</th>
                                        <th>Descripcion</th>
                                        <th>Unidad</th>
                                        <th>Iva</th>
                                        <th style="color: #21B799">Desc.</th>
                                        <th>Bodega</th>
                                        <th style="padding-left: 60px">Cantidad</th>
                                        <th style="padding-left: 40px">Vr. Unitario</th>
                                        <th style="padding-left: 85px">Total</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <input type="hidden" id="Subtotal19" />
                            <input type="hidden" id="Subtotal5" />
                            <input type="hidden" id="Subtotal0" />
                            <input type="hidden" id="SubtotalDescuento19" />
                            <input type="hidden" id="SubtotalDescuento5" />
                            <input type="hidden" id="SubtotalDescuento0" />
                            <br>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Base
                                    19%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 30px">
                                        <input type="text"
                                               id="SubtotalBase19"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Base
                                    5%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 30px">
                                        <input type="text"
                                               id="SubtotalBase5"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Base
                                    0%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 30px">
                                        <input type="text"
                                               id="SubtotalBase0"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Subtotal</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 30px">
                                        <input type="text"
                                               id="Subtotal"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Iva
                                    19%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 30px">
                                        <input type="text"
                                               id="SubtotalIva19"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Iva
                                    5%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 30px">
                                        <input type="text"
                                               id="SubtotalIva5"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Descuento</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 30px">
                                        <input type="text"
                                               id="Descuento"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Total
                                    Iva</label>
                                <div class="col-sm-2 ">
                                    <div class="md-form mt-0" style="margin-right: 30px">
                                        <input type="text"
                                               id="TotalIva"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-sm-3">
                                </div>
                                <label class="col-sm-1 col-form-label">Total
                                    Items</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 30px">
                                        <input type="text"
                                               id="Items"
                                               class="form-control text-right"
                                               readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Autoret. 2201</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 30px">
                                        <input type="text"
                                               id="Ret2201"
                                               class="form-control text-right"
                                               readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Total
                                    Neto</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0" style="margin-right: 30px">
                                        <input type="text"
                                               id="Neto"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row mb-0" style="margin-right: 10px">
                                <div class="col-sm-12">
                                    <a href="/DevolucionventaLista"
                                       class="btn btn-outline-dark waves-effect btn-md float-right">Cancelar </a>
                                    <button type="button"
                                            onclick="guardar('Nuevo')"
                                            class="btn btn-outline-success waves-effect btn-md float-right">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   INICIA NUEVO TERCERO-->
<input id="terceroNuevo"
       type="hidden"/>
<input id="productoNuevo"
       type="hidden"/>
<input id="BodegaNuevo" value=""
       type="hidden"/>
<input id="Total"
       type="hidden"/>
<input id="Ventatipoiva" value="{{ .ventatipoiva }}"
       type="hidden"/>
<input id="autoret2201" value="{{ .autoret2201 }}"
       type="hidden"/>

<script src="{{ .hosting }}static/js/devolucionventa.js"></script>

{{template "devolucionventascript" }}

<script>
    $(document).ready(function () {
        // INICIA MASCARA
        $("#Subtotal").mask('000.000.000.000.000', {reverse: true});
        // TERMINA MASCARA

        // INICIA FECHA
        var m = moment().format("YYYY-MM-DD");
        $("#Fecha").val(m);
        $("#Vence").val(m);

        // INICIA CODIGO  YA EXISTE
        $("#Codigo").focus();
        $("#aviso").hide();
        $("#guardar").prop("disabled", false);
        $("#guardar").prop("disabled", true);
        $("#Codigo").keyup(function () {
            codigo = $("#Codigo").val().replace(" ", "_").toUpperCase();
            $("#Codigo").val(codigo);
            if ($("#Codigo").val().length > 0) {
                console.log("Handler for .keyup() called." + $("#Codigo").val());
                $.ajax({
                    url: "/DevolucionventaExiste/" + $("#Codigo").val(),
                    type: "GET",
                    dataType: "json",
                    async: false,
                    success: function (respuesta) {
                        if (respuesta.result == true) {
                            console.log(respuesta.result);
                            $("#textoaviso").html("El Numero Ya Existe");
                            $("#aviso").show();
                            $("#guardar").prop("disabled", true);
                        } else {
                            console.log(respuesta.result);
                            $("#aviso").hide();
                            $("#guardar").prop("disabled", false);
                        }
                    },
                });
            }
        });

        // INICIA AUTOCOMPLETADO
        autocompletaTercero('#terceroCodigo');

        // INICIA FOCUS
        $('#Codigo').focus();

        // INICIA SELECT
        $('#terceroFiscal').materialSelect({});
        $('#FormaDePago').materialSelect({});
        $('#MedioDePago').materialSelect({});
        $('#Vendedor').materialSelect({});
        $('#Resolucion').materialSelect({});
        $('#Centro').materialSelect({});

        // DATOS INICIALES
        $('#FormaDePago').val("1");
        $('#MedioDePago').val("10");

        // TRAE DATOS DE EDITAR
        if ("{{ .codigo }}"=="False"){
            agregar();
        } else {
            // llenar valores
            //$("#Codigo").val('{{ .devolucionventa.Codigo }}');
            $("#Fecha").val('{{ .devolucionventa.Fecha.Format "2006-01-02"}}');
            $("#Vence").val('{{ .devolucionventa.Vence.Format "2006-01-02"}}');
            $("#Plazo").val('');
            $("#terceroCodigo").val('{{ .devolucionventa.Tercero }}');
            $("#terceroDv").val('{{ .tercero.Dv }}');
            $("#terceroNombre").val('{{ .tercero.Nombre }}');
            $("#terceroDireccion").val('{{ .tercero.Direccion }}');
            $("#terceroTelefono1").val('{{ .tercero.Telefono1 }}');
            $("#terceroEmail1").val('{{ .tercero.Email1 }}');
            $('#Subtotal').val('{{ .devolucionventa.Subtotal }}');
            $('#Descuento').val('{{ .devolucionventa.Descuento}}');
            $('#SubtotalIva19').val('{{ .devolucionventa.Subtotaliva19 }}');
            $('#SubtotalIva5').val('{{ .devolucionventa.Subtotaliva5 }}');
            $('#SubtotalBase19').val('{{ .devolucionventa.Subtotalbase19 }}');
            $('#SubtotalBase5').val('{{ .devolucionventa.Subtotalbase5 }}');
            $('#SubtotalBase0').val('{{ .devolucionventa.Subtotalbase0 }}');
            $('#Total').val('{{.devolucionventa.Total }}');
            $('#Neto').val('{{ .devolucionventa.Neto }}');
            $('#FormaDePago').val('{{ .devolucionventa.Formadepago}}');
            $('#MedioDePago').val('{{ .devolucionventa.Mediodepago}}');
            $('#Vendedor').val('{{ .devolucionventa.Vendedor}}');
            $('#Resolucion').val('{{ .devolucionventa.Resolucion}}');
            $('#Venta').val('{{ .devolucionventa.Venta}}');
            $('#Centro').val('{{ .devolucionventa.Centro}}');

            // llenar detalle
            cont = 1;

            {{ range.detalle }}
            agregar();
            $('#seleccion_producto' + cont).val('{{ .Producto }}');
            $('#nombre' + cont).html('{{ .ProductoNombre }}');
            $('#unidad' + cont).html('{{ .ProductoUnidad }}');
            $('#iva' + cont).html('{{ .ProductoIva }}');
            $('#descuento' + cont).val('{{ .Descuento }}');
            $('#seleccion_bodega' + cont).val('{{ .Bodega }}');
            $('#cantidad' + cont).val('{{ .Cantidad }}');
            $('#valor' + cont).val('{{ .Precio }}');

            cont++;

            {{ end }}
            totales();
            // TERMINA TRAER DATOS DE EDITAR
        }
    });

    // Traer venta en Cotizacion
    $("#Venta").focusout(function () {
        elemento="#Venta";
        codigo = $(elemento).val().replace(" ", "_").toUpperCase();
        $(elemento).val(codigo);
        if ($(elemento).val().length > 0) {
            $.ajax({
                url: "/DatosVenta/" + codigo,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (response) {
                    if (jQuery.isEmptyObject(response)) {
                        alert('No Existe Venta');
                    } else {
                        $.each(response, function (i, miVenta) {
                            const format2 = "YYYY-MM-DD"
                            fecha1= moment(miVenta.Fecha).format(format2);
                            vence1= moment(miVenta.Vence).format(format2);
                            $("#Plazo").val('');
                            $("#terceroCodigo").val(miVenta.Tercero);
                            $('#Subtotal').val(miVenta.Subtotal);
                            $('#Descuento').val(miVenta.Descuento);
                            $('#SubtotalIva19').val(miVenta.Subtotaliva19);
                            $('#SubtotalIva5').val(miVenta.Subtotaliva5);
                            $('#SubtotalBase19').val(miVenta.Subtotalbase19);
                            $('#SubtotalBase5').val(miVenta.Subtotalbase5);
                            $('#SubtotalBase0').val(miVenta.Subtotalbase0);
                            $('#Total').val(miVenta.Total);
                            $('#PorcentajeRetencionFuente').val(miVenta.PorcentajeRetencionFuente);
                            $('#TotalRetencionFuente').val(miVenta.TotalRetencionFuente);
                            $('#PorcentajeRetencionIca').val(miVenta.PorcentajeRetencionIca);
                            $('#TotalRetencionIca').val(miVenta.TotalRetencionIca);
                            $('#Neto').val(miVenta.Neto);
                            $('#FormaDePago').val(miVenta.Formadepago);
                            $('#MedioDePago').val(miVenta.Mediodepago);
                            $('#Vendedor').val(miVenta.Vendedor);
                            $('#Centro').val(miVenta.Centro);
                            //Datos de Tercero
                            $("#terceroDv").val(miVenta.TerceroDetalle.Dv);
                            $("#terceroNombre").val(miVenta.TerceroDetalle.Nombre);
                            $("#terceroDireccion").val(miVenta.TerceroDetalle.Direccion);
                            $("#terceroTelefono1").val(miVenta.TerceroDetalle.Telefono1);
                            $("#terceroEmail1").val(miVenta.TerceroDetalle.Email1);

                            // traer detalle
                            cont = 1;
                            $.each(miVenta.DetalleEditar, function (e, miDetalle) {
                                agregar();
                                $('#seleccion_producto' + cont).val(miDetalle.Producto);
                                $('#nombre' + cont).html(miDetalle.ProductoNombre);
                                $('#unidad' + cont).html(miDetalle.ProductoUnidad);
                                $('#iva' + cont).html(miDetalle.ProductoIva);
                                $('#descuento' + cont).val(miDetalle.Descuento);
                                $('#seleccion_bodega' + cont).val(miDetalle.Bodega);
                                $('#cantidad' + cont).val(miDetalle.Cantidad);
                                $('#valor' + cont).val(miDetalle.Precio);
                                cont++;
                            });
                            totales();
                        });
                    }
                },
            });
        }
    });

</script>

{{end}}
