{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/datatable.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/tabla.css"/>
<div class="container-fluid">
    <section>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <br>
                    <h3 class="card-title" class="" style="color: white; background-color: #21B799;
                     width: 350px; text-align: center; border-radius: 1px">Generar Cuenta De Cobro </h3>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home"
                             role="tabpanel" aria-labelledby="home-tab">
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Mes</label>
                                <div class="col-sm-2">
                                    <select name="Mes"
                                            id="Mes"
                                            class=" mdb-select md-form-control"
                                            searchable="Buscar...">

                                        <option value="1">Enero</option>
                                        <option value="2">Febrero</option>
                                        <option value="3">Marzo</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Mayo</option>
                                        <option value="6">Junio</option>
                                        <option value="7">Julio</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 col-form-label">Interes %</label>
                                <div class="col-sm-1">
                                    <div class="md-form mt-0">
                                        <input type="text" name="PorcentajeIntereses"
                                               minlength="5"
                                               maxlength="5"
                                               id="PorcentajeIntereses"
                                               value="0.00"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Centro</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <select name="Centro"
                                                id="Centro"
                                                class=" mdb-select md-form-control"
                                                searchable="Buscar...">
                                            {{ range .centro }}
                                            <option value="{{ .Codigo }}">{{ .Nombre }}
                                            </option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="form-group row mb-4 mt-0">
                                <div class="col-sm-10"></div>
                                <div class="col-sm-2">
                                    <button type="button" id="actualizar"
                                            class="btn btn-outline-success waves-effect btn-md float-right">
                                        Aceptar
                                    </button>
                                </div>
                            </div>
                            <table id="dt-all-checkbox"
                                   class="table table-borderless table-striped table-sm"
                                   cellspacing="0" width="100%">
                                <thead style="color: white; background-color: #21B799" class="th-sm">
                                <tr>
                                    <th>Numero</th>
                                    <th>Tercero</th>
                                    <th>Nombre</th>
                                    <th>Anterior</th>
                                    <th>Actual</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    numeroPanel = 1;
    $(document).ready(function () {
        // MASCARA INTERESES
        $("#PorcentajeIntereses").mask('##.00', {reverse: true});
        // INICIA FECHA
        var m = moment().format("YYYY-MM-DD");
        $("#FechaInicial").val(m);
        $("#FechaFinal").val(m);

        $( "#actualizar" ).click(function() {
            //alert( "actualizar" );
           Mes=$("#Mes").val();
           Centro=$("#Centro").val();
            var accion="";
            PorcentajeIntereses=$("#PorcentajeIntereses").val();

            accion='CuentadecobroGenerarMes/'+Mes+"/"+Centro+"/"+PorcentajeIntereses;

            $.ajax({
                url: accion,
                dataType: "json",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                   // BindDataTable(response);
                    console.log(JSON.stringify(response));
                    datos(response);
                    // datatable.clear();
                    // datatable.rows.add(response);
                    // datatable.draw();
                }

            })


        });


            $('.mdb-select').materialSelect({});
    });
    function datos(datosAjax)
    {
      Producto=$("#Producto").val();
      FechaInicial=$("#FechaInicial").val();
      FechaFinal=$("#FechaFinal").val();
      Bodega=$("#Bodega").val();


        $('#dt-all-checkbox').dataTable().fnDestroy();
        var datatable=   $('#dt-all-checkbox').dataTable({
            "dom": 'lrtip',
            "scrollY": "412px",
            "scrollCollapse": true,
            "scrollXInner": true,
            "paging": false,
            "aaData": datosAjax,
            columns:
                [
                    {"data": "Numero" },
                    {"data": "Tercero"},
                    {"data": "TerceroNombre"},
                    {"data": "Totalanterior", className: "text-right"},
                    {"data": "Totalactual", className: "text-right"},
                    {"data": "Total", className: "text-right"},
                ],
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox select-checkbox-all',
                targets: 0
            }],
            "ordering" : false,
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },

            select: {
                style: 'multi',
                selector: 'td:first-child'
            }
        });
       $('#dt-all-checkbox').DataTable();
        $('#dt-all-checkbox_wrapper').find('label').each(function () {
            $(this).parent().append($(this).children());
        });
        $('#dt-all-checkbox_wrapper .dataTables_filter').find('input').each(function () {
            const $this = $(this);
            $this.attr("placeholder", "Buscar");
            $this.removeClass('form-control-sm');
        });
        $('#dt-all-checkbox_wrapper .dataTables_length').addClass('d-flex flex-row');
        $('#dt-all-checkbox_wrapper .dataTables_filter').addClass('md-form');
        $('#dt-all-checkbox_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
        $('#dt-all-checkbox_wrapper select').addClass('mdb-select');
        $('#dt-all-checkbox_wrapper .dataTables_filter').find('label').remove();

    }

</script>

{{end}}
